[Unit]
Description=ACPI MPD control client daemon
#Requires=acpid.service
After=sound.target local-fs.target mpd.service
BindsTo=mpd.service
ConditionUser=!root

[Service]
Type=exec
EnvironmentFile=-%h/.config/acpi-mpd/acpi-mpd.conf
ExecStart=/usr/bin/acpi-mpd $ACPI_MPD_OPTIONS

[Install]
WantedBy=default.target
